<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/css/style.css" />

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
  <title>Den繳ncias</title>
</head>

<body>
  <div class="navbar">
    <header>
    <h1>MSP</h1>
    <div class="linha"></div>
    <p>Movimento Socioecon繫mico da Petrobras</p>
  </header>

  <nav>
    <section class="login_entrar">
      <a href="/cadastro"><img class="icon" src="\img\ icon _user circle alt_ (1).png" alt="">Cadastrar</a>
      <a href="/"><img class="icon" src="\img\ icon _group_.png" alt="">Login</a>
    </section>

    <section class="funcoes">
      <a href=""><img class="icon" src="\img\ icon _home_.png" alt="">In穩cio</a>
      <a href=""><img class="icon" src="\img\ icon _person_.png" alt="">Perfil</a>
      <a href=""><img class="icon" src="\img\ icon _star_.png" alt="">Feed</a>
    </section>
  </nav>
  </div>


  <main>
    {{#if messages.message}}
      <p class="flash-message">{{messages.message}}</p>
    {{/if}}
    {{{body}}}
  </main>

  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</body>

</html>