<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Denúncias</title>
  </head>
  <body>
    <div class="conteiner">
      <header>
        <span>
          <h1 id="title">MSP</h1>
          <hr />
          <p>Movimento Socioeconômico da Petrobrás</p>
        </span>
      </header>

      {{{body}}}
    </div>
  </body>
</html>