@import url("https://fonts.googleapis.com/css2?family=Lalezar&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #eae7b1;
  font-family: "Lalezar", cursive;
}
header {
  color: #fff;
  width: 100vw;
  height: 19vh;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: #3c6255;
}
#title {
  font-size: 96px;
  margin-bottom: -35px;
}
header p {
  font-size: 19px;
}
h2 {
  display: flex;
  font-size: 64px;
  margin-top: 58px;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}
main {
  gap: 30px;
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.box-conteiner {
  z-index: 1;
  display: flex;
  width: 1292px;
  height: 655px;
  align-items: center;
  filter: blur(17.5px);
  flex-direction: column;
  justify-content: center;
  background: rgba(60, 98, 85, 0.199);
}
img {
  padding: 18px 0 18px 36px;
}
.box-conteiner-item {
  display: grid;
  grid-column: 1fr 1fr;
  width: 501px;
  height: 106px;
  display: flex;
  align-items: center;
  background-color: #3c6255;
  z-index: 2;
}
.section {
  justify-content: center;
  gap: 50px;
  width: 1292px;
  display: flex;
  flex-wrap: wrap;
  position: absolute;
}

/* CSS JACÓ */

.prt-1 {
  opacity: 0.6;
  background-color: #3c6255;
  display: flex;
  flex-direction: column;
  width: 294px;
  height: 262px;
  align-items: center;
  justify-content: center;
}
.denucia-1 {
  gap: 30px;
  display: flex;
  flex-direction: column;
}
.filho {
  height: 545px;
  width: 539px;
  background-color: #c6d7b1;
  justify-content: end;
  display: flex;
}
.caixa {
  display: flex;
  gap: 40px;
}
.caixa-pai {
  justify-content: center;
  align-items: center;
  display: flex;
}
.input {
  width: 483px;
  height: 52px;
  background-color: #cee1b7;
  border-radius: 15px;
}
.caixa-2 {
  display: flex;
  gap: 200px;
  flex-direction: column;
  margin-top: 100px;
  margin-left: 500px;
}
/* CSS LAURA */
.email {
  flex-direction: column;
  width: 300px;
  height: 40px;
  border: none;
  border-radius: 20px;
  padding-left: 13px;
  outline: none;
}
.senha {
  width: 300px;
  height: 40px;
  border: none;
  border-radius: 20px;
  padding-left: 13px;
  outline: none;
}
.btn {
  width: 120px;
  height: 33px;
  border-radius: 20px;
  border: none;
  background-color: #3c6255;
  color: #ffff;
}
.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 300px;
  margin-top: 50px;
}

.formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
