<section class="caixa-pai">
  <section class="caixa">

    <article class="denucia-1">
      <div class="prt-1">
         <div class="caixa-upload">
          <label for="file-input">
            <i class="bi bi-plus-circle"></i>
          </label>
          <input type="file" name="" id="file-input" class="up-img">
        </div>
        <p>Adicionar denúncia</p></div>

      <div class="prt-1">
         <div class="caixa-upload">
          <label for="file-input">
            <i class="bi bi-plus-circle"></i>
          </label>
          <input type="file" name="" id="file-input" class="up-img">
        </div>
        <p>Adicionar denúncia</p>
      </div>

    </article>

    <article class="denucia-1">
      <div class="prt-1">
        <div class="caixa-upload">
          <label for="file-input">
            <i class="bi bi-plus-circle"></i>
          </label>
          <input type="file" name="" id="file-input" class="up-img">
        </div>
        
        <p>Adicionar denúncia</p>
      </div>

      <div class="prt-1">
        <div class="caixa-upload">
          <label for="file-input">
           <i class="bi bi-plus-circle"></i>
          </label>
          <input type="file" name="" id="file-input" class="up-img">
        </div>
        
        <p>Adicionar denúncia</p>
      </div>

    </article>

  </section>

  <section class="caixa-2">
    <div>
      <input class="input" type="text" />
    </div>
    <article class="pt2">
      <div class="filho"></div>
      <div class="button-denúncia"><button>Postar Denúncia</button></div>
      </article>
      
    
  </section>
</section>

