<form action="/user/adddenuncia/addinfo" method="post">

    <section class="caixa-pai">

      <section class="caixa">

        <article class="denucia-1">
          <div class="prt-1">
            <div class="caixa-upload">
              <label for="imagePath-1" class="picture">
                <i class="bi bi-plus-circle picture__icon"></i>
                <span class="picture__image">Adicionar denúncia</span>
              </label>
              <input type="file" accept=".png, .jpeg" name="imagePath" id="imagePath-1" class="up-img">
            </div>
          </div>

          <div class="prt-1">
            <div class="caixa-upload">
              <label for="imagePath-2" class="picture">
                <i class="bi bi-plus-circle picture__icon"></i>
                <span class="picture__image">Adicionar denúncia</span>
              </label>
              <input type="file" accept=".png, .jpeg" name="imagePath" id="imagePath-2" class="up-img">
            </div>
          </div>

        </article>

        <article class="denucia-1">
          <div class="prt-1">
            <div class="caixa-upload">
              <label for="imagePath-3" class="picture">
                <i class="bi bi-plus-circle picture__icon"></i>
                <span class="picture__image">Adicionar denúncia</span>
              </label>
              <input type="file" accept=".png, .jpeg" name="imagePath" id="imagePath-3" class="up-img">
            </div>
          </div>

          <div class="prt-1">
            <div class="caixa-upload">
              <label for="imagePath-4" class="picture">
                <i class="bi bi-plus-circle picture__icon"></i>
                <span class="picture__image">Adicionar denúncia</span>
              </label>
              <input type="file" accept=".png, .jpeg" name="imagePath" id="imagePath-4" class="up-img">
            </div>
          </div>

        </article>

      </section>

      <section class="caixa-2">
        <div class="subBox-2">
          <label class="ocorrenciaTitulo" for="">Título da ocorrência</label>
          <input class="input" type="text" placeholder="Ex: Problemas na infiltração.../ excesso de lixo..." />
        </div>
        <article class="pt2">
          <label class="ocorrenciaTitulo" for="">Descrição da ocorrência</label>
          <textarea name="descricao" class="filho" placeholder="Exemplo: Postada no dia xx/xx/xxxx Nós da cidade/bairro/vila estamos sofrendo com o excesso/falta de etc, etc, etc..."></textarea>
          <div class="button-denúncia"><button type="submit">Postar Denúncia</button></div>
        </article>
      </section>

    </section>
  </form>

  <script>
    document.addEventListener("DOMContentLoaded", function () {
      const inputFiles = document.querySelectorAll(".up-img");
      const pictureImages = document.querySelectorAll(".picture__image");
      const pictureIcon = document.querySelectorAll(".picture__icon");
      const pictureImageTxt = "Adicionar denúncia";

      inputFiles.forEach((inputFile, index) => {
        inputFile.addEventListener("change", function (e) {
          const inputTarget = e.target;
          const file = inputTarget.files[0];
          const pictureImage = pictureImages[index];
          const icon = pictureIcon[index];

          if (!file) {
            // Mostrar o conteúdo quando não há imagem
            pictureImage.innerHTML = pictureImageTxt;
            icon.style.display = "inline-block";
          } else {
            const reader = new FileReader();

            reader.addEventListener("load", function (e) {
              const readerTarget = e.target;

              const img = document.createElement("img");
              img.src = readerTarget.result;
              img.classList.add("picture__image");

              pictureImage.innerHTML = "";
              pictureImage.appendChild(img);
              icon.style.display = "none";
            });

            reader.readAsDataURL(file);
          }
        });
      });
    });
  </script>


<style>
  .picture__image{
    max-width: 90%;
  }
</style>