<section class="caixa-pai">
  <section class="caixa">

    <article class="denucia-1">
      <div class="prt-1">
        <i class="bi bi-plus-circle"></i>
        <p>Adicionar denúncia</p>
      </div>

      <div class="prt-1">
        <i class="bi bi-plus-circle"></i>
        <p>Adicionar denúncia</p>
      </div>

    </article>

    <article class="denucia-1">
      <div class="prt-1">
        <i class="bi bi-plus-circle"></i>
        <p>Adicionar denúncia</p>
      </div>

      <div class="prt-1">
        <i class="bi bi-plus-circle"></i>
        <p>Adicionar denúncia</p>
      </div>

    </article>

  </section>

  <section class="caixa-2">
    <div>
      <input class="input" type="text" />
    </div>
    <div class="filho"></div>
  </section>
</section>