 <h2 class="title">Formulário de cadastro</h2>
        <form action="" method="post" id="form">
            <section class="form_parte1">

                <label for="nome">Nome:</label>
                <input type="text" name="nome" id="nome" placeholder="Digite seu nome" required>

                <label for="sobrenome">Sobrenome:</label>
                <input type="text" name="sobrenome" id="sobrenome" placeholder="Digite seu sobrenome" required>

                <label for="email">E-mail:</label>
                <input type="email" name="email" id="email" placeholder="Digite seu e-mail" required>

                <label for="confirmar-email">Confirmar e-mail:</label>
                <input type="email" name="confirmar_email" id="confirmar_email" placeholder="Confirmar seu e-mail"
                    required>

                <label for="senha">Senha:</label>
                <input type="password" name="senha" id="senha" placeholder="Digite sua senha" required>

                <label for="confirmar_senha">Confirmar senha:</label>
                <input type="password" name="confirmar_senha" id="confirmar_senha" placeholder="Confirmar sua senha"
                    required>

                <label for="dt_nascimento">Data de nascimento:</label>
                <input type="date" id="dt_nascimento" required>

                <label for="nm_telefone">Número de telefone:</label>
                <input type="text" name="nm_telefone" id="nm_telefone" placeholder="Digite o seu  Nº de Telefone"
                    required>


            </section>

            <section class="form_parte2">
                <label for="cpf">CPF:</label>
                <input type="text" name="cpf" id="cpf" placeholder="Digite seu CPF" required>

                <label for="estado">Estado</label>
                <input type="text" name="estado" id="estado" placeholder="Digite seu estado" required>

                <label for="cidade">Cidade:</label>
                <input type="text" name="cidade" id="cidade" placeholder="Digite sua cidade" required>

                <label for="rua">Rua:</label>
                <input type="text" name="rua" id="rua" placeholder="Digite sua rua" required>

                <label for="cep">CEP:</label>
                <input type="text" id="cep" placeholder="Digite seu CEP" required>

                <label for="nm_casa">Número da casa:</label>
                <input type="text" name="nm_casa" id="nm_casa" placeholder="Digite o Nº da sua casa" required>

                <label for="complemento">Complemento:</label>
                <input type="text" id="complemento" placeholder="Complemento (opcional)">

                <input type="submit" id="cadastrar" value="Cadastrar">
            </section>

        </form>