<main>
  <h2>Denúncias</h2>
  <div class="box-conteiner">
  </div>
  <section class="section">
    <div class="box-conteiner-item">
      <span>
        <img src="/img/person.png" alt="" />
      </span>
    </div>
  </section>
</main>