<div class="container">
  <form action="" class="formulario">
    <input class="email" type="text" name="email" placeholder="E-mail" />
    <input class="senha" type="text" name="senha" placeholder="Senha" />
    <input class="btn" type="submit" value="Entra" />
    <p>Não tem uma conta? <a href="#">Cadastre-se</a></p>
  </form>
  <aside class="img">
    <img src="img/MSP (2) 1.png" alt="logo Movimento Socioeconômico da Petrobrás" />
  </aside>
</div>