<section class="tudo">
<div class="user-box">
    <section class="user-profile"> 
        <i id="profile-icon" class="bi bi-person-circle"></i>
    </section>
        
        <div class="input-control">
            <input type="text" placeholder="Nome do user" class="nome-do-user-display">
        </div>
        <div class="input-control">
            <input type="text" placeholder="E-mail do user" class="email-do-user-display">
        </div>
        <div class="input-control">
            <input type="text" placeholder="Endereço do user" class="rua-do-user-display">
        </div>

        <button class="chat-btn">
            <i id="Chat-icon" class="bi bi-chat-dots-fill"></i>
        </button>
</div>

<div class="report-area">
    <a href="/user/adddenuncia/addinfo" class="add-report bi bi-plus-circle">
        <p>Fazer denuncia</p>
    </a>
</div>
</section>
